.header
    .container
    
        .header__row
            .header__logo
                img(src="./img/logo.png" alt="")
            .header__contacts
                span г. Курск, пр-кт В.Клыкова, 16
                span Пн-Пт: 8:00-20:00 | Сб-Вс: 9:00-20:00
            .header__tel
                span +7 (4712) 31-21-18
            button(class="fill-btn") Записаться на прием
            .burger-menu
                span
            //- MENU
        include ./menu.pug 
        //- SLIDER
            
    include ./slider.pug