.footer
    .container
        .footer__inner
            .footer__col.footer__col-1
                img(src="./img/white-logo.png" alt="")
                p Лицензия на осуществление медицинской деятельности № ЛО-46-01-002139 выдана 13.08.2019 Комитетом здравоохранения Курской области.  Информация на сайте не является публичной офертой 
                <a href="">Политика конфиденциальности </a>
            .footer__col.footer__col-2
                .footer__col-title
                    span Услуги
                .footer__col-inner
                    .footer__col-menu
                        a(href="#" class="footer__col-menu-item") Диагностика
                        a(href="#" class="footer__col-menu-item") Профессиональная гигиена
                        a(href="#" class="footer__col-menu-item") Отбеливание зубов
                        a(href="#" class="footer__col-menu-item") Реставрация зубов
                        a(href="#" class="footer__col-menu-item") Лечение кариеса
                        a(href="#" class="footer__col-menu-item") Лечение каналов
                    .footer__col-menu
                        a(href="#" class="footer__col-menu-item") Удаление зубов
                        a(href="#" class="footer__col-menu-item") Имплантация зубов
                        a(href="#" class="footer__col-menu-item") Установка коронок
                        a(href="#" class="footer__col-menu-item") Установка виниров
                        a(href="#" class="footer__col-menu-item") Зубные протезы
                        a(href="#" class="footer__col-menu-item") Ортондонтия
            .footer__col.footer__col-3
                .footer__col-title
                    span Контакты
                .footer__col-contacts
                    a(href="") +7 (4712) 31-21-18
                    button(class="fill-btn") Заказать звонок
                    span г. Курск, пр-кт В.Клыкова, 16
                    span Пн-Пт: 8:00-20:00 
                    span Сб-Вс: 9:00-20:00
        .footer__copy
            span Разработка сайта: 
            img(src="./img/plast.png" alt="")  
            a(href="#") ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ. НЕОБХОДИМА КОНСУЛЬТАЦИЯ СПЕЦИАЛИСТА










