.service-card {
  display: flex;
  flex-direction: column;
  padding: 10rem 0;
  &__title {
    margin-bottom: 4.2rem;
  }
  &__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-collapse: collapse;
    grid-gap: 1px;
    background-color: $lilac;
    border: 1px solid $lilac;
  }
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem 2.3rem 3.5rem;
  background-color: #fff;
  &__img {
    margin-bottom: 2.5rem;
  }
  &__title {
    @include M700;
    font-size: 2.2rem;
    color: $dark-text;
    line-height: 1.75;
  }
  &__disc {
    @include M300;
    color: $dark-text;
    font-size: 1.6rem;
    line-height: 1.55;
  }
}
@media (max-width:960px){
  .service-card{
    &__inner{
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
@media (max-width:768px){
  .service-card{
    padding: 5rem 0;
  }
}
@media (max-width:767px){
  .service-card{
    &__inner{
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@media (max-width:480px){
  .service-card{
    padding: 2rem 0;
    &__inner{
      grid-template-columns: repeat(1, 1fr);
    }
  }
}