.low-vision-version
    .container
        .low-vision-version__inner
            .low-vision-version__eye
                img(src="../img/eye.png" alt="")
                a(href="#") Версия для слабовидящих
            .social
                a(href="#" class="social__item") <i class="fab fa-vk"></i>
                a(href="#" class="social__item") <i class="fab fa-instagram"></i>
                a(href="#" class="social__item") <i class="fab fa-odnoklassniki"></i>