.slider
    .container
        .slider__text
            h1(class="slider__title") Профессиональная гигиена
            span(class="slider__text-title") Включает четыре процедуры:
            .slider__points
                a(href="#") <i class="fas fa-check"></i>чистка ультразвуковым скейлером
                a(href="#") <i class="fas fa-check"></i>пескоструйная чистка методом AirFlow
                a(href="#") <i class="fas fa-check"></i>полировка эмали
                a(href="#") <i class="fas fa-check"></i>покрытие зубов фторосодержащими препаратами
            button(class="fill-btn") Записаться на прием
        .slider-control
            .slider-control__item
                <i class="fas fa-chevron-left"></i>
            .slider-control__item
                <i class="fas fa-chevron-right"></i>
    .text-overlay
        .container
            .text-overlay__section
                span(class="text-overlay__title") 2013 год
                span(class="text-overlay__text") образования 
                    span(class="text-overlay__colortext") клиники
                i(class="diving-line")
            .text-overlay__section
                span(class="text-overlay__title") 6000+
                span(class="text-overlay__text") успешных 
                    span(class="text-overlay__colortext") операций
                i(class="diving-line")
            .text-overlay__section
                span(class="text-overlay__title") 5000+
                span(class="text-overlay__text") довольных 
                    span(class="text-overlay__colortext") клиентов