.sending-form
    .container
        .sending-form__title
            h2(class="middle-title") Записаться на консультацию врача
        .input-form
            .form
                h3(class="small-title") Оставьте заявку, и наш специалист свяжется с Вами
                input(type="text" placeholder="Ваше имя" class="form__input form__item")
                input(type="tel" placeholder="Телефон" class="form__input form__item")
            .input-form__text
                span(class="input-form__personal-data") Нажимая на кнопку «Отправить заявку», Вы соглашаетесь на обработку <a href="#" class="colortext-skyblue">персональных данных</a>
                button(class="fill-btn") Отправить заявку




