.section-card
    .container
        h2(class="middle-title") Приемущества нашей клиники
        .section-card__inner
            .section-card__item
                span 01
                .section-card__item-text
                    h3(class="small-title") Опытный персонал
                    p 
                        |Наши врачи регулярно проходят обучение на курсах 
                        |усовершенствования, посещают выставки, участвуют 
                        |в семинарах и образовательных программах
            .section-card__item
                span 02
                .section-card__item-text
                    h3(class="small-title") Современное оборудование
                    p 
                        |Надежное дорогостоящее оборудование лучших зарубежных и отечественных производителей 
                        |Mercury (КНР), NSK (Япония), Posdion (Корея), 
                        |VATECH (Корея), Philips (Нидерланды, США)
            .section-card__item
                span 03
                .section-card__item-text
                    h3(class="small-title") Широкий спектр услуг
                    p 
                        |Высокое качество работ, безболезненное лечение. 
                        |Проверенные временем технологии и методы лечения
            .section-card__item
                span 04
                .section-card__item-text
                    h3(class="small-title") Доступные цены
                    p 
                        |Гарантирантия качественных услуг по доступным ценам. 
                        |Многолетнее сотрудничество с надежными поставщиками, позволяет снизить стоимость услуг








