.map
    .container
        .map__geoicon
            img(src="./img/geoicon.png" alt="")
        .map__contacts
            h3(class="small-title") Связаться с нами
            .tel
                span(class="tel__title") Телефон:
                a(href="#" class="tel__item") +7 (910) 731-21-18 | +7 (4712) 31-21-18
                span(class="tel__title") Адрес:
                a(href="#" class="tel__item") г. Курск, пр-кт В.Клыкова, 16
                span(class="tel__title") Часы работы:
                a(href="#" class="tel__item") Пн-Пт: 8:00-20:00 | Сб-Вс: 9:00-20:00
                span(class="tel__title") Мы в социальных сетях:
                .social
                    a(href="#" class="social__item") <i class="fab fa-vk"></i>
                    a(href="#" class="social__item") <i class="fab fa-instagram"></i>
                    a(href="#" class="social__item") <i class="fab fa-odnoklassniki"></i>