.last-work
    .container
        .last-work__title
            h2(class="middle-title") Наши последние работы
            .slider-control
                .slider-control__counters
                    span(class="slider-control__counter") 4
                    span  / 
                    span(class="slider-control__counter") 7
                .slider-control__items
                    .slider-control__item
                        <i class="fas fa-chevron-left"></i>
                    .slider-control__item
                        <i class="fas fa-chevron-right"></i>
        .last-work__inner
            .work
                .work__img
                    img(src="./img/teeth.jpg", alt="")
                .work__desc
                    h3(class="small-title") Лечение на брекет-системе 1,5 года
                    span(class="work__desc-title") Что было сделано:
                    p(class="work__desc-text") Центральный зуб был разрушен, его удалили и на его место одномоментно становили имплантат Axiom.
                    span(class="work__desc-title") Специалисты: 
                    p(class="work__desc-text") Кондрашова М. Л., Куцын С. Н.
                    span(class="work__desc-title") Оказанные услуги:
                    p(class="work__desc-text") Терапевтическое лечение, хирургия
                    span(class="work__desc-title") Стоимость:
                    p(class="work__desc-text") 15 000 руб.
                    span(class="work__desc-title") Lorem Ipsum
                    p(class="work__desc-text") Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum esse ad voluptatum temporibus! Praesentium quo voluptas atque, laudantium quia vero facere rem sequi at! Libero illum voluptatum quia id fuga?
                    span(class="work__desc-title") Lorem Ipsum
                    p(class="work__desc-text") Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum esse ad voluptatum temporibus! Praesentium quo voluptas atque, laudantium quia vero facere rem sequi at! Libero illum voluptatum quia id fuga?
                    span(class="work__desc-title") Lorem Ipsum
                    p(class="work__desc-text") Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum esse ad voluptatum temporibus! Praesentium quo voluptas atque, laudantium quia vero facere rem sequi at! Libero illum voluptatum quia id fuga?
                    span(class="work__desc-title") Lorem Ipsum
                    p(class="work__desc-text") Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum esse ad voluptatum temporibus! Praesentium quo voluptas atque, laudantium quia vero facere rem sequi at! Libero illum voluptatum quia id fuga?
                    span(class="work__desc-title") Lorem Ipsum
                    p(class="work__desc-text") Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum esse ad voluptatum temporibus! Praesentium quo voluptas atque, laudantium quia vero facere rem sequi at! Libero illum voluptatum quia id fuga?
                    span(class="work__desc-title") Lorem Ipsum
                    p(class="work__desc-text") Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum esse ad voluptatum temporibus! Praesentium quo voluptas atque, laudantium quia vero facere rem sequi at! Libero illum voluptatum quia id fuga?
 


  

  



