.feedback
    .container
        .feedback__title
            h2(class="middle-title") Отзывы наших клиентов
        .feedback__inner
            .review
                .review__profile
                    .review__img
                        img(src="./img/profile-feedback.jpg" alt="" class="review__profile-img")
                        span(class="review__type-serv") Оказанные услуги:
                        span(class="review__type-work") Хирургия
                    .review__profile-desc
                        span(class="review__email") nikitenkoIA@mail.ru
                        span(class="review__name") Игорь Никитенко
                        span(class="review__date") 20.03.2020 г. 
                        span(class="review__rating") 5.0 
                        
                .review__text-review
                    p Уже третий год являюсь клиетом Доктора Смайла. Нравится, что врачи работают быстро и аккуратно. Всегда уверен в качестве материалов и стерильности оборудования, так как вся моя сеймья много моих знакомых уже много лет пользуются услугами этой клиники. Стоматологи Доктора Смайла спасли не один мой зуб)). Выражаю огромную благодарность доктору Кондрашовой Марине Леонидовне и всему коллективу Доктора Смайла за высокий профессионализм в своей работе. Отдельно хочется выделить и вежливое отношение персонала, для меня это также важно, как и качество оказываемых услуг. Спасибо!Уже третий год являюсь клиетом Доктора Смайла. Нравится, что врачи работают быстро и аккуратно. Всегда уверен в качестве материалов и стерильности оборудования, так как вся моя сеймья много моих знакомых уже много лет пользуются услугами этой клиники. Стоматологи Доктора Смайла спасли не один мой зуб)). Выражаю огромную благодарность доктору Кондрашовой Марине Леонидовне и всему коллективу Доктора Смайла за высокий профессионализм в своей работе. Отдельно хочется выделить и вежливое отношение персонала, для меня это также важно, как и качество оказываемых услуг. Спасибо!Уже третий год являюсь клиетом Доктора Смайла. Нравится, что врачи работают быстро и аккуратно. Всегда уверен в качестве материалов и стерильности оборудования, так как вся моя сеймья много моих знакомых уже много лет пользуются услугами этой клиники. Стоматологи Доктора Смайла спасли не один мой зуб)). Выражаю огромную благодарность доктору Кондрашовой Марине Леонидовне и всему коллективу Доктора Смайла за высокий профессионализм в своей работе. Отдельно хочется выделить и вежливое отношение персонала, для меня это также важно, как и качество оказываемых услуг. Спасибо!Уже третий год являюсь клиетом Доктора Смайла. Нравится, что врачи работают быстро и аккуратно. Всегда уверен в качестве материалов и стерильности оборудования, так как вся моя сеймья много моих знакомых уже много лет пользуются услугами этой клиники. Стоматологи Доктора Смайла спасли не один мой зуб)). Выражаю огромную благодарность доктору Кондрашовой Марине Леонидовне и всему коллективу Доктора Смайла за высокий профессионализм в своей работе. Отдельно хочется выделить и вежливое отношение персонала, для меня это также важно, как и качество оказываемых услуг. Спасибо!
        .feedback__btn
            button(class="border-btn") Смотреть отзывы
            button(class="fill-btn") Оставить отзыв
                




