.menu {
  display: flex;
  justify-content: space-between;
  // padding: 2.4rem 0;
  &__item {
    position: relative;
    cursor: pointer;
    height: 100%;
    padding: 2.4rem 0;

    &:nth-child(1) {
      padding-left: 0;
    }
  }
  &__item-text {
    @include M500;
    font-size: 1.5rem;
    letter-spacing: 0.9px;
    color: $dark-text;
    text-transform: uppercase;
  }
}
.fa-search {
  color: $sky-blue;
  font-size: 1.7rem;
}
.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: -16px;
  margin-top: 2.5rem;
  opacity: 0;
  transition: ease-in-out 0.2s;
  background: $lilac;
  &__item {
    display: flex;
    align-items: center;
    height: 50px;
    width: 263px;
    padding-left: 1.6rem;
    @include M300;
    font-size: 1.6rem;
    letter-spacing: 0.96px;
    text-align: left;
    color: $dark-text;
    margin-bottom: 0.1rem;
    background: #fff;
    transition: ease-in-out 0.2s;
    &:hover {
      background: $sky-blue;
      color: #fff;
    }
  }
}
.dropdown.active {
  opacity: 1;
}
.fa-chevron-down {
  font-size: 1.3rem;
  color: $sky-blue;
  margin-left: 1rem;
}

@media (max-width: 1024px) {
  .menu {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background: pink;
    align-items: center;
    justify-content: center;
    &__item{
      padding: 1rem 0;
      height:auto;
    }
    &__item-text{
      font-size: 3rem;
    }
  }
}
