mixin card (path,title,disc)
    .card
        img(src=path alt="" class="card__img")
        a(href="#" class="card__title")= title
        span(class="card__disc")= disc

.service-card
    .container
        .service-card__title
            h2(class="middle-title") Наши услуги
        .service-card__inner
            +card(
                './img/Диагностика.png',
                'Диагностика', 
                'Полный перечень диагностических услуг'
                )
            +card(
                './img/Профессиональная.png',
                'Профессиональная гигиена', 
                'Чистка и полировка зубов, устранение убного налета'
                )
            +card(
                './img/Отбеливание.png',
                'Отбеливание зубов', 
                'Отбеливание зубов лампой Philips Zoom 4'
                )
            +card(
                './img/Реставрация.png',
                'Реставрация зубов', 
                'Восстановление сколов и повреждений зубов'
                )
            +card(
                './img/Лечение-кариеса.png',
                'Лечение кариеса', 
                'Профилактика заболеваний и лечение зубов'
                )
            +card(
                './img/Лечение-каналов.png',
                'Лечение каналов', 
                'Сохранение «безнадежных» зубов, назначенных на удаление'
                )
            +card(
                './img/Удаление-зубов.png',
                'Удаление зубов', 
                'Удаление зубов без боли. Быстро и эффективно '
                )
            +card(
                './img/Имплантация.png',
                'Имплантация зубов', 
                'Установка имплантов с пожизненным сроком службы'
                )
            +card(
                './img/Установка.png',
                'Установка коронок', 
                'Установка коронок высокого качества'
                )
            +card(
                './img/Установка-виниров.png',
                'Установка виниров', 
                'Реставрация, исправление цвета и формы зубов'
                )
            +card(
                './img/Зубные-протезы.png',
                'Зубные протезы', 
                'Протезирование зубов современными материалами'
                )
            +card(
                './img/Ортондонтия.png',
                'Ортондонтия', 
                'Исправление прикуса у детей и взрослых. Установка рекетов'
                )

























