<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="main.css")
        
        title Doctor Smile
    body
        .wrapper
            include pug/header/low-vision-version.pug
            include pug/header/header.pug
            include pug/serviceCard/serviceCard.pug
            include pug/sendingForm/sendingForm.pug
            include pug/sectionProfiles/sectionProfiles.pug
            include pug/sectionCard/sectionCard.pug
            include pug/lastWork/lastWork.pug
            include pug/feedback/feedback.pug
            include pug/map/map.pug
            include pug/footer/footer.pug

    script(src="https://kit.fontawesome.com/497889a7fe.js" crossorigin="anonymous")
    script(src="./main.js")

